//! **************************************************************************
// Written by: Map P.20131013 on Fri Jul 31 22:45:36 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "D9" LEVEL 1;
PIN CLK_pin<0> = BEL "CLK" PINNAME PAD;
PIN "CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RST" LOCATE = SITE "B8" LEVEL 1;
COMP "nRD" LOCATE = SITE "L18" LEVEL 1;
COMP "nWR" LOCATE = SITE "M16" LEVEL 1;
COMP "nBHE" LOCATE = SITE "K15" LEVEL 1;
COMP "nBLE" LOCATE = SITE "K16" LEVEL 1;
COMP "btnU" LOCATE = SITE "A8" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "V10" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "nMREQ" LOCATE = SITE "L15" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "ABUS<10>" LOCATE = SITE "F18" LEVEL 1;
COMP "ABUS<11>" LOCATE = SITE "F17" LEVEL 1;
COMP "ABUS<12>" LOCATE = SITE "K13" LEVEL 1;
COMP "ABUS<20>" LOCATE = SITE "G14" LEVEL 1;
COMP "ABUS<13>" LOCATE = SITE "K12" LEVEL 1;
COMP "ABUS<21>" LOCATE = SITE "F14" LEVEL 1;
COMP "ABUS<14>" LOCATE = SITE "E18" LEVEL 1;
COMP "ABUS<22>" LOCATE = SITE "C18" LEVEL 1;
COMP "ABUS<15>" LOCATE = SITE "E16" LEVEL 1;
COMP "ABUS<16>" LOCATE = SITE "G13" LEVEL 1;
COMP "ABUS<17>" LOCATE = SITE "H12" LEVEL 1;
COMP "ABUS<18>" LOCATE = SITE "D18" LEVEL 1;
COMP "ABUS<19>" LOCATE = SITE "D17" LEVEL 1;
COMP "DBUS<10>" LOCATE = SITE "P12" LEVEL 1;
COMP "DBUS<11>" LOCATE = SITE "U13" LEVEL 1;
COMP "DBUS<12>" LOCATE = SITE "V13" LEVEL 1;
COMP "DBUS<13>" LOCATE = SITE "U10" LEVEL 1;
COMP "DBUS<14>" LOCATE = SITE "R8" LEVEL 1;
COMP "DBUS<15>" LOCATE = SITE "T8" LEVEL 1;
COMP "ABUS<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "ABUS<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "ABUS<2>" LOCATE = SITE "J18" LEVEL 1;
COMP "ABUS<3>" LOCATE = SITE "J16" LEVEL 1;
COMP "ABUS<4>" LOCATE = SITE "G18" LEVEL 1;
COMP "ABUS<5>" LOCATE = SITE "G16" LEVEL 1;
COMP "ABUS<6>" LOCATE = SITE "H16" LEVEL 1;
COMP "ABUS<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "ABUS<8>" LOCATE = SITE "H14" LEVEL 1;
COMP "ABUS<9>" LOCATE = SITE "H13" LEVEL 1;
COMP "DBUS<0>" LOCATE = SITE "R13" LEVEL 1;
COMP "DBUS<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "DBUS<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "DBUS<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "DBUS<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "DBUS<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "DBUS<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "DBUS<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "DBUS<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "DBUS<9>" LOCATE = SITE "P6" LEVEL 1;
SCHEMATIC END;

