# Clock signal
NET "CLOCK"            LOC = "V10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK
#NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
#Net "clk" TNM_NET = sys_clk_pin;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;


# onBoard Cellular RAM, Numonyx StrataFlash and Numonyx Quad Flash
NET "nRD"          LOC = "L18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L46N_FOE_B_M1DQ3,               Sch name = P30-OE
NET "nWR"          LOC = "M16" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L47P_FWE_B_M1DQ0,               Sch name = P30-WE

#NET "RamAdv"         LOC = "H18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L43N_GCLK4_M1DQ5,               Sch name = P30-ADV
NET "nMREQ"          LOC = "L15" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L42P_GCLK7_M1UDM,               Sch name = MT-CE
#NET "RamClk"         LOC = "R10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L29P_GCLK3,                     Sch name = P30-CLK
#NET "RamCRE"         LOC = "M18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L47N_LDC_M1DQ1,                 Sch name = MT-CRE
NET "nBLE"          LOC = "K16" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L41N_GCLK8_M1CASN,              Sch name = MT-LB
NET "nBHE"          LOC = "K15" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L41P_GCLK9_IRDY1_M1RASN,        Sch name = MT-UB
#NET "RamWait"        LOC = "V4"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L63N,                           Sch name = P30-WAIT

#NET "FlashRp"        LOC = "T4"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L63P,                           Sch name = P30-RST
#NET "FlashCS"        LOC = "L17" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L46P_FCS_B_M1DQ2,               Sch name = P30-CE

#NET "QuadSpiFlashCS"    LOC="V3"  | IOSTANDARD = "LVCMOS33";  #Bank = MISC, Pin name = IO_L65N_CSO_B_2,                Sch name = CS
#NET "QuadSpiFlashSck"   LOC="R15" | IOSTANDARD = "LVCMOS33";  #Bank = MISC, Pin name = IO_L1P_CCLK_2,                  Sch name = SCK
#NET "QuadSpiFlashDB<0>" LOC="T13" | IOSTANDARD = "LVCMOS33";  #Dual/Quad SPI Flash DB<0>, Bank = MISC, Pin name = IO_L3N_MOSI_CSI_B_MISO0_2, Sch name = SDI

NET "ABUS<0>"      LOC = "K18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L45N_A0_M1LDQSN,                Sch name = P30-A0
NET "ABUS<1>"      LOC = "K17" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L45P_A1_M1LDQS,                 Sch name = P30-A1
NET "ABUS<2>"      LOC = "J18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L44N_A2_M1DQ7,                  Sch name = P30-A2
NET "ABUS<3>"      LOC = "J16" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L44P_A3_M1DQ6,                  Sch name = P30-A3
NET "ABUS<4>"      LOC = "G18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L38N_A4_M1CLKN,                 Sch name = P30-A4
NET "ABUS<5>"      LOC = "G16" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L38P_A5_M1CLK,                  Sch name = P30-A5
NET "ABUS<6>"      LOC = "H16" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L37N_A6_M1A1,                   Sch name = P30-A6
NET "ABUS<7>"      LOC = "H15" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L37P_A7_M1A0,                   Sch name = P30-A7
NET "ABUS<8>"      LOC = "H14" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L36N_A8_M1BA1,                  Sch name = P30-A8
NET "ABUS<9>"      LOC = "H13" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L36P_A9_M1BA0,                  Sch name = P30-A9
NET "ABUS<10>"     LOC = "F18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L35N_A10_M1A2,                  Sch name = P30-A10
NET "ABUS<11>"     LOC = "F17" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L35P_A11_M1A7,                  Sch name = P30-A11
NET "ABUS<12>"     LOC = "K13" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L34N_A12_M1BA2,                 Sch name = P30-A12
NET "ABUS<13>"     LOC = "K12" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L34P_A13_M1WE,                  Sch name = P30-A13
NET "ABUS<14>"     LOC = "E18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L33N_A14_M1A4,                  Sch name = P30-A14
NET "ABUS<15>"     LOC = "E16" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L33P_A15_M1A10,                 Sch name = P30-A15
NET "ABUS<16>"     LOC = "G13" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L32N_A16_M1A9,                  Sch name = P30-A16
NET "ABUS<17>"     LOC = "H12" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L32P_A17_M1A8,                  Sch name = P30-A17
NET "ABUS<18>"     LOC = "D18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L31N_A18_M1A12,                 Sch name = P30-A18
NET "ABUS<19>"     LOC = "D17" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L31P_A19_M1CKE,                 Sch name = P30-A19
NET "ABUS<20>"     LOC = "G14" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L30N_A20_M1A11,                 Sch name = P30-A20
NET "ABUS<21>"     LOC = "F14" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L30P_A21_M1RESET                Sch name = P30-A21
NET "ABUS<22>"     LOC = "C18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L29N_A22_M1A14,                 Sch name = P30-A22

NET "DBUS<0>"       LOC = "R13" | IOSTANDARD = "LVCMOS33";   #Ram or Numonyx Paralell Flash DB<0>, or Dual/Quad SPI Flash DB<1>, Bank = MISC, Pin name = IO_L3P_D0_DIN_MISO_MISO1_2,     Sch name = P30-DQ0
NET "DBUS<1>"       LOC = "T14" | IOSTANDARD = "LVCMOS33";   #Ram or Numonyx Paralell Flash DB<1>, or Quad SPI Flash DB<2>, Bank = MISC, Pin name = IO_L12P_D1_MISO2_2,                      Sch name = P30-DQ1
NET "DBUS<2>"       LOC = "V14" | IOSTANDARD = "LVCMOS33";   #Ram or Numonyx Paralell Flash DB<2>, or Quad SPI Flash DB<3>, Bank = MISC, Pin name = IO_L12N_D2_MISO3_2,                      Sch name = P30-DQ2
NET "DBUS<3>"       LOC = "U5"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_49P_D3,                         Sch name = P30-DQ3
NET "DBUS<4>"       LOC = "V5"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_49N_D4,                         Sch name = P30-DQ4
NET "DBUS<5>"       LOC = "R3"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L62P_D5,                        Sch name = P30-DQ5
NET "DBUS<6>"       LOC = "T3"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L62N_D6,                        Sch name = P30-DQ6
NET "DBUS<7>"       LOC = "R5"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L48P_D7,                        Sch name = P30-DQ7
NET "DBUS<8>"       LOC = "N5"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L64P_D8,                        Sch name = P30-DQ8
NET "DBUS<9>"       LOC = "P6"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L64N_D9,                        Sch name = P30-DQ9
NET "DBUS<10>"      LOC = "P12" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L13N_D10,                       Sch name = P30-DQ10
NET "DBUS<11>"      LOC = "U13" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L14P_D11,                       Sch name = P30-DQ11
NET "DBUS<12>"      LOC = "V13" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L14N_D12,                       Sch name = P30-DQ12
NET "DBUS<13>"      LOC = "U10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L30P_GCLK1_D13,                 Sch name = P30-DQ13
NET "DBUS<14>"      LOC = "R8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L31P_GCLK31_D14,                Sch name = P30-DQ14
NET "DBUS<15>"      LOC = "T8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L31N_GCLK30_D15,                Sch name = P30-DQ15


# 7 segment display
NET "seg<0>"         LOC = "T17" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L51P_M1DQ12,                    Sch name = CA
NET "seg<1>"         LOC = "T18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L51N_M1DQ13,                    Sch name = CB
NET "seg<2>"         LOC = "U17" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L52P_M1DQ14,                    Sch name = CC
NET "seg<3>"         LOC = "U18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L52N_M1DQ15,                    Sch name = CD
NET "seg<4>"         LOC = "M14" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L53P,                           Sch name = CE
NET "seg<5>"         LOC = "N14" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L53N_VREF,                      Sch name = CF
NET "seg<6>"         LOC = "L14" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L61P,                           Sch name = CG
NET "seg<7>"         LOC = "M13" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L61N,                           Sch name = DP

NET "an<0>"          LOC = "N16" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L50N_M1UDQSN,                   Sch name = AN0
NET "an<1>"          LOC = "N15" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L50P_M1UDQS,                    Sch name = AN1
NET "an<2>"          LOC = "P18" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L49N_M1DQ11,                    Sch name = AN2
NET "an<3>"          LOC = "P17" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L49P_M1DQ10,                    Sch name = AN3


# Leds
NET "led<0>"         LOC = "U16" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L2P_CMPCLK,                     Sch name = LD0
NET "led<1>"         LOC = "V16" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L2N_CMPMOSI,                    Sch name = LD1
NET "led<2>"         LOC = "U15" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L5P,                            Sch name = LD2
NET "led<3>"         LOC = "V15" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L5N,                            Sch name = LD3
NET "led<4>"         LOC = "M11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L15P,                           Sch name = LD4
NET "led<5>"         LOC = "N11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L15N,                           Sch name = LD5
NET "led<6>"         LOC = "R11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L16P,                           Sch name = LD6
NET "led<7>"         LOC = "T11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L16N_VREF,                      Sch name = LD7


# Switches
#NET "sw<0>"          LOC = "T10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L29N_GCLK2,                     Sch name = SW0
#NET "sw<1>"          LOC = "T9"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L32P_GCLK29,                    Sch name = SW1
#NET "sw<2>"          LOC = "V9"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L32N_GCLK28,                    Sch name = SW2
#NET "sw<3>"          LOC = "M8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L40P,                           Sch name = SW3
#NET "sw<4>"          LOC = "N8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L40N,                           Sch name = SW4
#NET "sw<5>"          LOC = "U8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L41P,                           Sch name = SW5
#NET "sw<6>"          LOC = "V8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L41N_VREF,                      Sch name = SW6
#NET "sw<7>"          LOC = "T5"  | IOSTANDARD = "LVCMOS33";   #Bank = MISC, Pin name = IO_L48N_RDWR_B_VREF_2,          Sch name = SW7

# Buttons
NET "RST"         LOC = "B8"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L33P,                           Sch name = BTNS
NET "btnU"         LOC = "A8"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L33N,                           Sch name = BTNU
#NET "btn<2>"         LOC = "C4"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L1N_VREF,                       Sch name = BTNL
#NET "btn<3>"         LOC = "C9"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L34N_GCLK18,                    Sch name = BTND
NET "CLK"         LOC = "D9"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L34P_GCLK19,                    Sch name = BTNR
NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;